@model UserManagement.Web.Models.Users.UserLogDetailItemViewModel
<partial name="PartialViews/ViewLog_Partial" model="Model" />
<div>
    <div class="btn-group" role="group">
        <a href="@Model.ReferrerUrl" class="btn btn-default">Back</a>
    </div>
</div>
